* {
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
  scroll-behavior: smooth;
  
}
:root { overflow-y: scroll; }

html {
  overscroll-behavior: none;
}


p {
  margin: 0px;
}

.Head {

  margin:0px;
  height: 100vh;
  width: 100%;
  background-color:#0e0e10;  
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.Second {
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px;
  height: 100vh;
  width: 100%;
  background-color:rgb(23, 21, 21);
}

.About {
  margin:0px;
  height: 100vh;
  width: 100%;
  background-color:rgb(19, 19, 22);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  height:50vw;
  width: 100vw;
  background-color: #000000;
}

.svg--page {
  position:relative;
  margin:0px;
  height: 100vh;
  width: 100vw;
  background-color:rgb(23, 21, 21);
}

.svg--test--line {
  position:absolute;
  top:0%;
  left:50%;
}

/* Framer Motion Head Words */
.title--text {
  display: flex;
  overflow: hidden;
  padding:0px;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.response--text {
  display: flex;
  overflow: hidden;
  padding:0px;
  font-size: 1.2rem;
}

.box1 {
  width: 50px;
  height:50px;
  background-color: red;
  position: absolute;
  top:150vh;
  left: 20vw;
  opacity: 0.3;
}

.box2 {
  width: 50px;
  height:50px;
  background-color: red;
  position: absolute;
  top:150vh;
  left: 80vw;
  opacity: 0.3;
}

.parallax--text {
  position:absolute;
  top: 100%;
  font-size: 1.2rem;
  opacity: 0.2;
}

svg {
  display: inline-block;
  height: 100%;
}

.About {
  position: relative;
}

.about--title {
  position: absolute;
  top:20%;
}

.about--motion {
  width: 100vw;
  height:100vh;
  position: absolute;
}

.text--about--1 {
  position: relative;
  opacity: 0.8;
  width: 30%;
  top:40%;
  left:7%;
  padding:20px;
  /* border: 1px solid rgb(254, 252, 252, 0.3); */
  border-radius: 5px;
  line-height: 2rem;
}

.fadein-text {
  position:absolute;
  top:0%;
  width: 100vw;
  height:100vh;
}

.fadein-text-1, .fadein-text-2, .fadein-text-3, .fadein-text-4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  width: 10%;
  height:20%;
  top:30%;
  left:60%;
  padding:20px;
  border: 1px solid rgb(254, 252, 252, 0.3);
  border-radius: 5px;
  line-height: 2rem;
  box-shadow: 0px 10px 13px -7px #000000, 26px 5px 19px -12px rgba(0,0,0,0.19);
}

.fadein-text-2 {
  top: 56%;
  left:62%;
}

.fadein-text-3 {
  top: 30%;
  left:73%;
}

.fadein-text-4 {
  top: 56%;
  left:75%;
}

